<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{ request.session.user.name }}
	<a href='{% url "authenticate:logout" %}'>Logout</a>
	{% if messages %}
    	{% for message in messages %}
    		<h2>{{ message }}</h2>
    	{% endfor %}
	{% endif %}
	<h2>Your Wish List:</h2>
	<table>
		<tr>
			<th>Item</th>
			<th>Added by</th> 
			<th>Date Added</th>
			<th>Action</th>
		</tr>
		{% for item in items_all %}
			{% for index in wishlist %}
				{% if item.id == index.wishitem_id %}
					<tr>
						<td><a href='{% url "cool_app:wish_items" item_id=item.id%}'>{{ item.name }}</a></td>
						<td>{{ item.created_by.name }}</td> 
						<td>{{ item.created_at }}</td>
						{% if item.created_by.id == request.session.user.id %}
							<td><a href='{% url "cool_app:delete_item" item_id=item.id %}'>Delete from Products</a></td>
						{% endif %}	
						{% if item.created_by.id != request.session.user.id %}
							<td><a href='{% url "cool_app:remove_list" item_id=index.id %}'>Remove from Wishlist</a></td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}		
		{% endfor %}
	</table>
	<table>	
		<h2>Other Users' Wish List:</h2>
		<tr>
			<th>Item</th>
			<th>Added by</th> 
			<th>Date Added</th>
			<th>Action</th>
		</tr>
		{% for item in not_on_wishlist %}
		<tr>
			<td><a href='{% url "cool_app:wish_items" item_id=item.id%}'>{{ item.name }}</a></td>
			<td>{{ item.created_by.name }}</td> 
			<td>{{ item.created_at }}</td>
			<td><a href='{% url "cool_app:add_item" item_id=item.id %}'>Add to Wishlist</a></td>
		</tr>
		{% endfor %}
	</table>	
	<a href='{% url "cool_app:create" %}'>Add Item</a>
</body>
</html>